allow system_app atfwd_service:service_manager add;
unix_socket_connect(system_app, cnd, cnd)

allow system_app cne_service:service_manager add;

# allow CNEService to write /data/connectivity
allow system_app cnd_data_file:dir w_dir_perms;
# allow CNEService to create profile.txt
allow system_app cnd_data_file:file create_file_perms;
# Sony Timekeep
allow system_app timekeep_prop:property_service set;
